<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
</head>
<body>
{{/* ini adalah komentar */}}
  Name : {{.Name}} <br>
  {{ with .Address }}
        Address Street: {{.Street}} <br>
        Address City: {{.City}} <br>
  {{ else }}
    <h1>Address is not found</h1>
  {{ end }}
</body>
</html>